body {
    background: #071a52 !important;
}

#main-title {
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 15px 10px 5px 10px;
}

#task-form {
    margin: 25px;
    height: 50px;
}

#task-form-text {
    font-size: 20px;
}

#main-container {
    max-width: 600px;
}

#task-list {
    margin-top: 50px;
    width: 600px;
    min-height: 100px;
    background: #2d767f;
    border-radius: 10px;
    padding: 5px 50px 50px 50px;
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.2);
}

.task {
    max-height: 100px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background: #b4f1f1;
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.2);
}

.taskText {
    padding-top: 15px;   
    font-size: 20px; 
}
